/* Color Theme Swatches in Hex */
.fotografia-de-bellas-artes,-estilo-ciber-punk-de-la-ciudad-de-Nueva-York-por-la-noche,-en-tonos-verdosos-1-hex { color: #012840; }
.fotografia-de-bellas-artes,-estilo-ciber-punk-de-la-ciudad-de-Nueva-York-por-la-noche,-en-tonos-verdosos-2-hex { color: #048ABF; }
.fotografia-de-bellas-artes,-estilo-ciber-punk-de-la-ciudad-de-Nueva-York-por-la-noche,-en-tonos-verdosos-3-hex { color: #025959; }
.fotografia-de-bellas-artes,-estilo-ciber-punk-de-la-ciudad-de-Nueva-York-por-la-noche,-en-tonos-verdosos-4-hex { color: #025939; }
.fotografia-de-bellas-artes,-estilo-ciber-punk-de-la-ciudad-de-Nueva-York-por-la-noche,-en-tonos-verdosos-5-hex { color: #038C4C; }

/*Fonts*/
@font-face {
    font-family: "Inconsolata";
    src: url(/assets/css/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf)
}

@font-face {
    font-family: "Karla";
    src: url(/assets/css/fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Rajdhani";
    src: url(/assets/css/fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: "spaceMono";
    src: url(/assets/css/fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
}

@font-face {
    font-family: "icons";
    src: url(/assets/css/fonts/web-symbols/WebSymbols-Regular.otf);
}

/*General*/
html {
    scroll-behavior: smooth;
  }

*{
    margin:0px;
    padding:0px;
}

body{        
    background-image: url(/assets/img/pattern.png);
}

a{
    color:#038C4C;
    text-decoration: none;
}

a:visited{
    color: #048ABF;    
}

a:hover{
    filter: saturate(3);  
}

/*Forms*/
input[type="text"],
input[type="email"],
input[type="password"],
select{
    border: 1px solid #025939;
    box-shadow: 0px 0px 2px;
    background-color: #012840;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #048ABF;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
    border: 1px solid #038C4C;
    color:#048ABF;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button{
    display:block;
    border-radius: 2px;
    border:1px solid #025959;
    width: 60px;
    padding: 3px;
    background-color: #038C4C;
    cursor:pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
    filter: saturate(3);  

}

/*Header*/
header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

header a{
    text-decoration: none;
}


header .logo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;      
    filter: saturate(3);  
}

header .logo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;    
    animation-name: movement;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

@keyframes movement {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);    
    }    
}

header h1 {
    text-align: center;
    font-size: 40px;        
}

header h1 a{    
    font-family: spaceMono;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;    
    text-shadow: 0px 2px 4px;
    transition: all 300ms;    
}

header h1 :hover{    
    color:#038C4C;
    text-shadow: 0px 2px 4px, 0px 0px 8px;
}

header h3{
    color: #038C4C;
    font-family: monospace;
    text-transform:capitalize;
    overflow: hidden;
    border-right: .15em solid #038C4C;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(15, end),
        blink-caret .5s step-end infinite;
    padding-right: 5px;
    float: right;
    margin-right: 190px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 24% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #038C4C }
  }

/*Navbar*/
nav{
    width: 100%;       
    height: 40px; 
    background-color: #012840;
    color:#038C4C !important;
    font-family: Rajdhani;    
    font-size: 15px;   
    box-shadow: 0px 0px 2px;     
}

nav  ul{
    list-style: none;    
    text-decoration: none;
    margin: 0px auto;
    width: 66%;        
}

nav > ul > li {
    line-height: 40px;    
    float: left;
    border-right: 1px solid #048ABF;        
}

nav > ul > li  a{    
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color:#038C4C !important;
    text-decoration: none;
    transition: all 500ms;
}

nav > ul > li a:first-child{
    border-left: 1px solid #048ABF; ;
}

nav > ul > li:hover  a{
    background-color: #025959;        
    box-shadow: 0px 0px 0px 4px;
    font-style: italic;
    filter: saturate(3);  
}

/*Dropdown Menu*/
nav > ul > li > ul {
    display: none;    
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px 2px;
    position: absolute;
    z-index: 1px;
}

nav > ul > li:hover > ul{
    display: block
}

nav > ul > li:hover > ul > li{
    background-color:#012840;
    border-bottom: 1px solid #025939 !important;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
}

nav > ul > li:hover > ul > li:hover a{
    box-shadow: 0px 0px 6px;
}

/*Content*/
.content{
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;
}

/*aside*/
aside, #tip{    
    width: 200px;
    float: left;
    margin: 30px;
    background-color: #012840;
    border: 1px solid #025959;
    box-shadow:  0px 2px 2px;
    font-family: Karla;
}

#tip{
    
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-family: Rajdhani;
    color: #048ABF;
    filter: saturate(3);      
}
#tip p{
    text-overflow: ellipsis;
}

#tip a{        
    font-weight: bolder;
    color: #038C4C;    
}

aside .widget{
    display:block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #025939;
    color:#038C4C
}

aside .widget:last-child{
    margin-bottom: 20px;
}

aside h3{
    display: block;
    color:#038C4C;    
    filter: saturate(3);  
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background-color: #025959;
    border: 1px solid #048ABF;
    border-left: none;
    border-right: none;
}

aside li{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

.clearfix{
    float: none;
    clear: both;
}

/*Aside forms*/
aside div label,
aside div input[type="text"],
aside div input[type="email"],
aside div input[type="password"],
aside div a{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

aside div input[type="button"],
aside div input[type="submit"],
aside div button{
    margin-top: 5px;    
    margin-bottom: 10px;    
}

aside input,
aside label{    
    margin: 0px auto;
    text-align: center;
}

/*Sections*/
.sections{
    float: right;
    width: 75%;
    font-family: Inconsolata;
    margin: 20px;
}

.sections #title{
    color: #038C4C;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: -20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #048ABF;    
    filter: saturate(3);
}

.sections section{
    margin-top: 40px;
    background-color: #025939;
    padding: 20px;
    border: 1px solid #025959;
    box-shadow: 0px 0px 4px;
    font-size: 16px;    
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.sections article{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.sections .date{
    color:#048ABF;
    font-size: 14px;
}

.sticker  .stickerOne,
.sticker .stickerTwo{
    position:absolute;
    margin-top: 25px;
    margin-left: 45px;
    z-index: 0;
}

.sticker .stickerTwo{
    margin-left: 860px;
}

#icon{
    font-family: icons;
    color: #038C4C;
    filter: saturate(3);
    margin-right: 5px;
}

/*History*/ 
.history{
    float: right;
    margin-top: 20px;
    font-family: Rajdhani;
    margin-right: 20px;
    background-color: #012840;
}

/*GoUp button*/
.goUp{
    text-align: center;
    line-height: 50px;    
    width: 50px;
    height: 50px;
    font-size: 50px;
    margin-left: 120px;
    animation-name: shakeGoUp;
    animation-duration: 1s;    
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;

}

@keyframes shakeGoUp {
    0%{
        transform: translateY(0px);        
    }    
    50%{
        transform: translateY(20px);    
    } 
    100%{
        transform: translateY(0px);        ;
    }   
}

/*Footer*/
footer{
    width: 100%;
    margin:0px auto;
    text-align: center;
    margin-top: 40px;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #038C4C;
    filter: saturate(3);
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0px 0px 2px;    
}